.navbar-wrapper
  .container
    .navbar.navbar-inverse
      .navbar-inner
        %button.btn.btn-navbar{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        =link_to 'Surfing Langosta', root_path, class: 'brand'

        .nav-collapse.collapse
          %ul.nav
            %li{class: nav_class(root_path)}
              =link_to 'Home', root_path
            %li{class: nav_class(rentals_path)}
              =link_to 'Browse', rentals_path
            %li{class: nav_class(pet_friendly_rentals_path)}
              =link_to 'Pet Friendly', pet_friendly_rentals_path
            %li{class: nav_class(kid_friendly_rentals_path)}
              =link_to 'Family Friendly', kid_friendly_rentals_path
            %li{class: nav_class(long_term_rentals_path)}
              =link_to 'Long Term', long_term_rentals_path
