.item
  =image_tag banner_rental.banner_photo.asset.url(:banner)
  .container
    .carousel-caption
      %h1 
        =banner_rental.name
      %p.lead
        =banner_rental.description
      =link_to 'Learn more', rental_path(banner_rental), class: "btn btn-large btn-success"
