-content_for :carousel do
  #splashCarousel.carousel.slide
    .carousel-inner
      =render partial: 'banner_rental', collection: @banner_rentals

    =link_to '&lsaquo;'.html_safe, '#splashCarousel', class: 'left carousel-control', 'data-slide' => 'prev'
    =link_to '&rsaquo;'.html_safe, '#splashCarousel', class: 'right carousel-control', 'data-slide' => 'next'


