.span4
  =image_tag featured_rental.featured_photo.asset.url(:medium), class: 'img-polaroid'
  %h2
    =featured_rental.name
  %p
    =featured_rental.featured_description || featured_rental.description[0..255]
  %p
    =link_to 'View details &raquo;'.html_safe, '#', class: 'btn'
