.span4
  =link_to rental_path(featured_rental) do
    =image_tag featured_rental.featured_photo.asset.url(:medium), class: 'img-polaroid', alt: "rental photo #{featured_rental.banner_photo.id}"
  %h2
    =featured_rental.name
  %p
    =featured_rental.description
  %p
    =link_to 'View details &raquo;'.html_safe, rental_path(featured_rental), class: 'btn btn-info'
