.container.marketing
  -offset = 0
  -while offset < @featured_rentals.count
    .row
      -@featured_rentals[offset..(offset + 2)].each do |rental|
        =render partial: 'featured_rental', object: rental
      -offset += 3