-content_for :carousel do
  #splashCarousel.carousel.slide
    .carousel-inner
      .item.active
        =image_tag @rental.photos.first.asset.url(:medium)

        .container
          .carousel-caption
            %h1 
              =@rental.name
            %p.lead
              =@rental.featured_description
            =link_to 'Learn more', '#', class: "btn btn-large btn-success"
