=form_for [:mr_rogers, @rental], class: 'form-horizontal' do |f|
  .control-group{class: input_class(@rental,:name) }
    %label.control-label{for: 'rental_name'} Name
    .controls
      =f.text_field :name, placeholder: 'Name', class: 'input-block-level'
      =input_error_help(@rental, :name)
          
  .control-group{class: input_class(@rental,:description) }
    %label.control-label{for: 'rental_description'} Description
    .controls
      =f.text_area :description, placeholder: 'Description', class: 'input-block-level', rows: 5
      =input_error_help(@rental, :description)

  .control-group{class: input_class(@rental,:bedrooms) }
    %label.control-label{for: 'rental_bedrooms'} Bedrooms
    .controls
      =f.text_field :bedrooms, placeholder: 'Bedrooms', class: 'input-small'

  .control-group{class: input_class(@rental,:bathrooms) }
    %label.control-label{for: 'rental_bathrooms'} Bathrooms
    .controls
      =f.text_field :bathrooms, placeholder: 'Bathrooms', class: 'input-small'
      
  .control-group{class: input_class(@rental,:rate_per_night) }
    %label.control-label{for: 'rental_rate_per_night'} Customer rate per night
    .controls
      $
      =f.text_field :rate_per_night, placeholder: 'Customer rate per night', class: 'input-large'

  .control-group{class: input_class(@rental,:rate_per_week) }
    %label.control-label{for: 'rental_rate_per_week'} Customer rate per week
    .controls
      $
      =f.text_field :rate_per_week, placeholder: 'Customer rate per week', class: 'input-large'

  .control-group{class: input_class(@rental,:rate_per_month) }
    %label.control-label{for: 'rental_rate_per_month'} Customer rate per month
    .controls
      $
      =f.text_field :rate_per_month, placeholder: 'Customer rate per month', class: 'input-large'
    
  .control-group
    .controls.controls-row
      .span2{class: input_class(@rental,:pet_friendly) }
        %label.checkbox{for: 'rental_pet_friendly'}
          =f.check_box :pet_friendly
          Pet Friendly
      .span2{class: input_class(@rental,:kid_friendly) }
        %label.checkbox{for: 'rental_kid_friendly'}
          =f.check_box :kid_friendly
          Kid Friendly
      .span2{class: input_class(@rental,:long_term) }
        %label.checkbox{for: 'rental_long_term'}
          =f.check_box :long_term
          Long Term

  .control-group{class: input_class(@rental,:contact) }
    %label.control-label{for: 'rental_contact'} Owner/Manager Contact Information
    =input_error_help(@rental, :contact)
    .controls
      =f.text_area :contact, placeholder: 'Owner/Manager Contact Information', class: 'input-block-level', rows: 5

  .control-group{class: input_class(@rental,:base_rate_per_night) }
    %label.control-label{for: 'rental_base_rate_per_night'} Base rate per night
    .controls
      $
      =f.text_field :base_rate_per_night, placeholder: 'Base rate per night', class: 'input-medium'

  .control-group{class: input_class(@rental,:base_rate_per_week) }
    %label.control-label{for: 'rental_base_rate_per_week'} Base rate per week
    .controls
      $
      =f.text_field :base_rate_per_week, placeholder: 'Base rate per week', class: 'input-medium'

  .control-group{class: input_class(@rental,:base_rate_per_month) }
    %label.control-label{for: 'rental_base_rate_per_month'} Base rate per month
    .controls
      $
      =f.text_field :base_rate_per_month, placeholder: 'Base rate per month', class: 'input-medium'

  .control-group
    %button.btn.btn-info{type: 'submit'} Save

