%h1 Edit Rental

-if @rental.published?
  .alert.alert-info
    %h2 Published
  
%ul.thumbnails
  -@rental.photos.each do |photo|
    %li.span2.text-center
      .thumbnail
        %p
          =image_tag(photo.asset.url(:thumb))
        %p
          =link_to 'Banner', mr_rogers_photo_path(id: photo.id, photo: { banner: false }), method: 'PATCH', remote: true, class: "unbanner btn btn-primary #{'hide' unless photo.banner}"
          =link_to 'Banner', mr_rogers_photo_path(id: photo.id, photo: { banner: true }), method: 'PATCH', remote: true, class: "banner btn #{'hide' if photo.banner}"
        %p
          =link_to 'Featured', mr_rogers_photo_path(id: photo.id, photo: { featured: false }), method: 'PATCH', remote: true, class: "unfeature btn btn-primary #{'hide' unless photo.featured}"
          =link_to 'Featured', mr_rogers_photo_path(id: photo.id, photo: { featured: true }), method: 'PATCH', remote: true, class: "feature btn #{'hide' if photo.featured}"

        =link_to 'Delete', mr_rogers_photo_path(photo), method: 'DELETE', data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', remote: true

=render partial: 'mr_rogers/photos/form'


=render partial: 'form'

-if @rental.published?
  =link_to 'Un-publish', mr_rogers_rental_unpublish_path(@rental), method: :POST, class: 'btn', data: { confirm: 'This will hide the rental from the public website. Are you sure you want to un-publish?' }
-else
  =link_to 'Publish', mr_rogers_rental_publish_path(@rental), method: :POST, class: 'btn btn-success', data: { confirm: 'This will make the rental show up on the public website. Are you sure you want to publish?' } 




=link_to 'Delete Rental', mr_rogers_rental_path(@rental), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-right' unless @rental.id.nil?
