%h1 All Rentals

.navbar
  .navbar-inner
    %ul.nav
      %li
        =link_to 'New', new_mr_rogers_rental_path

%table.table.table-hover.table-striped.table-bordered{'data-source' => mr_rogers_rentals_url(format: 'json')}
  %thead
    %tr
      %th ID
      %th Name
      %th Description
  %tbody
