!!!
%html
  %head
    %title Rentals
    =stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    =javascript_include_tag "application", "data-turbolinks-track" => true
    =csrf_meta_tags

  %body
    =render partial: 'shared/top_nav'
    =yield :carousel
    .container
      =yield
      =render partial: 'shared/footer'
